[Unit]
Description=Baby Guardian Registration Manager

[Service]
ExecStart=/usr/bin/python3 /home/baby/Desktop/regi.py
Restart=always
User=root

[Install]
WantedBy=default.target
