[Unit]
Description=Baby Soothing Actuator Controls

[Service]
ExecStart=/usr/bin/python3 /home/baby/Desktop/soothing_actuator.py
Restart=always
User=root

[Install]
WantedBy=default.target
